
        h2{
    background-color: rgb(55, 55, 231);
       color: aliceblue;
       font-size: x-large;
       font-style: oblique;
         }

         #ps1{
           color: rgba(82, 255, 154, 0.589);
         }
         
         .ps5{
           color: gold;
           font-size:xx-large ;
           font-style:inherit;
           font-size-adjust: unset;
           font-size:xx-large (1000px)
         }